.menu__card{
    background: url(../../../assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    object-fit: contain;
    height: 100%;
    width: 260px;
    border-radius: 10px;
    padding: 1.5rem 2rem 2rem;
}