@use '../../../../../scss/abstracts' as a;

.item__menu{
    @include a.flex(flex-start, flex-start, row, nowrap, 1rem);
    padding: 1rem 0rem;
    font-family: ubuntu-regular;

    &__id > span, &__content__title{
        color: var(--alabaster);
    }

    &__id{
        width: min-content;
        padding: .5rem .7rem;
        background-color: transparent;
        border-radius: 100%;
        border: 1px solid var(--alabaster);
        font-size: .8rem;
        font-family: ubuntu-bold;
        @include a.flex(center, center);
    }

    &__content{
        &__name{
            color: var(--cool-gray);
            font-size: .8rem;
        }
    
        &__title{
            letter-spacing: 0.1rem;
            font-size: .8rem;
            padding-top: .2rem;
        }
    }
   
}

.active{
    background-color: var(--light-blue);
    border-color: var(--light-blue);
    
    span{
        color: var(--marine-blue);
    }
}

@include a.breakpoint('md'){
    .item__menu{
        flex-flow: row nowrap;
    }

    .item__menu__content{
        display: none;
    }
}