@use '../../../../../scss/abstracts' as a;

section{
    @include a.layoutSection();

    article{
        margin-top: 1.6rem;
        width: 100%;
        height: 100%;
        @include a.flex(space-between, flex-start, column, nowrap, 0rem);

        form{
            width: 100%;
        }
    }
}