@font-face {
    font-family: ubuntu-bold;
    src: url(../../assets/font/Ubuntu-Bold.ttf) format(truetype);
    font-weight: 700;
}

@font-face {
    font-family: ubuntu-medium;
    src: url(../../assets/font/Ubuntu-Medium.ttf) format(truetype);
    font-weight: 500;
}

@font-face {
    font-family: ubuntu-regular;
    src: url(../../assets/font/Ubuntu-Regular.ttf) format(truetype);
    font-weight: 400;
}