@use '../../../../../scss/abstracts' as a;

section{
    @include a.layoutSection();

    main{
        background-color: white;
        width: 100%;

        .cards__add__ons{
            @include a.flex(center, center, column, nowrap, .8rem);
            width: 100%;
            margin-top: 2rem;
        }
    }

    .cards__add__ons__item{
        @include a.flex(space-between, center, row, nowrap);
        width: 100%;
        border: 1px solid var(--light-gray);
        padding: 1rem;
        border-radius: 8px;
        transition: border .2s ease-in-out;

        &__left{
            @include a.flex(center, center, row, nowrap, 1rem);

            &__input{
                position: relative;

                input[type="checkbox"] {
                    visibility: hidden;
                    display: none;
                    opacity: 0;

                    &[type="checkbox"]:checked + span {
                        background-color: var(--purplish-blue);
                        border-color: var(--purplish-blue);
                      }

                    &[type="checkbox"]:checked + span:after {
                    opacity: 1;
                    }
                }

                span {
                    background-color: #fff;
                    border: 1px solid var(--light-gray);
                    border-radius: 4px;
                    cursor: pointer;
                    height: 18px;
                    width: 18px;
                    display: block;

                    &::after {
                        border: 2px solid #fff;
                        border-top: none;
                        border-right: none;
                        content: "";
                        height: 6px;
                        left: 4px;
                        opacity: 0;
                        position: absolute;
                        top: 5px;
                        transform: rotate(-45deg) ;
                        width: 9px;
                      }
                }
            }

            &__detail{
                h3{
                    font-size: .9rem;
                    color: var(--marine-blue);
                    padding: 0;
                    margin-bottom: .2rem;
                    font-family: ubuntu-regular;
                }
        
                p{
                    margin-top: 0rem;
                    padding: 0;
                    color: var(--cool-gray);
                    font-size: .9rem;
                }
            }
        }

        &__right{
            color: var(--purplish-blue);
            font-size: .9rem;
        }

        &:hover{
            cursor: pointer;
            border: 1px solid var(--purplish-blue);
        }

        &.active{
            border: 1px solid var(--purplish-blue);
            background-color: hsl(243, 100%, 99%);;
        }
    }
}

@include a.breakpoint('md'){
    section{
        padding-top: 0;

        main{
            @include a.card-content();

            p{
                margin-top: .3rem;
                line-height: 1.5rem;
            }
    
        }
    }
}