<section>
    <main>
        <h1>Pick add-ons</h1>
        <p>Add-ons help enhance your gaming experience.</p>

        <article class="cards__add__ons">
            <label for="online" class="cards__add__ons__item active">
               <div class="cards__add__ons__item__left">
                    <div class="cards__add__ons__item__left__input">
                        <input name="online" id="online" type="checkbox">
                        <span class="checkmark"></span>
                    </div>
                    <div class="cards__add__ons__item__left__detail">
                        <h3>Online service</h3>
                        <p>Access to multiplayer games</p>
                    </div>
               </div>
               <span class="cards__add__ons__item__right">+$1/mo</span>
            </label>
            <label for="large" class="cards__add__ons__item">
                <div class="cards__add__ons__item__left">
                    <div class="cards__add__ons__item__left__input">
                        <input name="large" id="large" type="checkbox">
                        <span class="checkmark"></span>
                    </div>
                     <div class="cards__add__ons__item__left__detail">
                         <h3>Onnline service</h3>
                         <p>Access to multiplayer games</p>
                     </div>
                </div>
                <span class="cards__add__ons__item__right">+$1/mo</span>
             </label>
             <label for="customizable" class="cards__add__ons__item">
                <div class="cards__add__ons__item__left">
                    <div class="cards__add__ons__item__left__input">
                        <input name="customizable" id="customizable" type="checkbox">
                        <span class="checkmark"></span>
                    </div>
                     <div class="cards__add__ons__item__left__detail">
                         <h3>Onnline service</h3>
                         <p>Access to multiplayer games</p>
                     </div>
                </div>
                <span class="cards__add__ons__item__right">+$1/mo</span>
             </label>
        </article>
    </main>
    
    <footer-content></footer-content>
</section>