@use '../../../../../../scss/abstracts' as a;

section{
    @include a.layoutSection();

    main{
        width: 100%;
        background-color: white;

        .finish__section{
            margin: 2.5rem 0rem;
        }
    }
}

@include a.breakpoint('md'){
    section{
        padding-top: 0;

        main{
            @include a.card-content();

            p{
                margin-top: .3rem;
                line-height: 1.5rem;
            }
        }
    }
}