<ng-template [ngIf]="!isComplete" [ngIfElse]="complete">
    <section>
        <main>
            <h1>Finishing up</h1>
            <p class="subtitle">Double-check everything looks OK before confirming.</p>

            <article class="finish__section">
                <finish-card></finish-card>
                <finish-footer-total></finish-footer-total>
            </article>
        </main>

        <footer-content
            (validateData)="completeInformation()"
        ></footer-content>
    </section>
</ng-template>

<ng-template #complete>
    <message-finalization></message-finalization>
</ng-template>


