@use '../../../../../../scss/abstracts' as a;

section{
    @include a.layoutSection();

    main{
        width: 100%;
        background-color: white;

        .finish__section{
            margin: 2.5rem 0rem;

            &__card{
                background-color: hsl(243, 100%, 98.5%);
                padding: 1rem;
                border-radius: 7px;

                .divider{
                    background-color: hsl(231, 11%, 90%);
                    width: 100%;
                    height: 1px;
                    margin: 1.3rem 0rem .5rem;
                }
            
                &__plan{
                    @include a.flex(space-between, center); 
                    

                    div{
                        width: fit-content;

                        p{
                            font-family: ubuntu-medium;
                            color: var(--marine-blue)
                        }

                        button{
                            color: var(--cool-gray);
                            background-color: transparent;
                            text-decoration: underline;
                            border: none;
                            transition: color .2s ease-in-out;
                            width: fit-content;

                            &:hover{
                                cursor: pointer;
                                color: var(--purplish-blue);
                            }

                            &:focus{
                                outline: 1px solid var(--purplish-blue);
                                border-radius: 2px;
                            }
                        }
                    }

                    span{
                        font-family: ubuntu-medium;
                        color: var(--marine-blue)
                    }
                }

                &__addOns{    
                    &__item{
                        @include a.flex(space-between, center); 
                        padding: .5rem 0rem;
                        height: min-content;

                        p{
                            font-size: .8rem;
                            padding-bottom: .5rem;
                            padding: 0;
                        }

                        span{
                            font-family: ubuntu-regular;
                            color: var(--marine-blue);
                            font-size: .8rem;
                        }
                    }
                }
            }



            &__total{
                @include a.flex(space-between, center);
                padding: 1rem;

                p {
                    font-size: .8rem;
                }

                span{
                    font-size: 1rem;
                    color: var(--purplish-blue);
                    font-family: ubuntu-bold;
                }
            }
        }
    }
}

@include a.breakpoint('md'){
    section{
        padding-top: 0;

        main{
            @include a.card-content();

            p{
                margin-top: .3rem;
                line-height: 1.5rem;
            }
        }
    }
}