@use '../../../../../scss/abstracts' as a;

section{
    @include a.flex(flex-end,center);
    width: 100%;
    height: fit-content;
    background-color: white;
    position: relative;

    .button{
        &__back{
            font-family: ubuntu-bold;
            color: var(--cool-gray);
            background-color: transparent;
            border: none;
            font-size: .8rem;
            font-size: 1rem;
            position: relative;
            bottom: 0px;
            left: -60%;
        }

        &__next,  &__complete{
            padding: .8rem 0rem;
            width: 120px;
            border-radius: 5px;
            border: none;
            color: #dee4eb;
            font-family: ubuntu-medium;
            font-size: 1rem;
        }

        &__next{
            background-color: var(--marine-blue);
        }

        &__complete{
            background-color: var(--purplish-blue);
        }

        &__back:hover, &__next:hover, &__complete:hover{
            cursor: pointer;
        }

        &__next:hover{
            background-color: hsl(213, 96%, 30%);
        }

        &__complete:hover{
            opacity: .7;
        }

        &__back:hover{
            color: var(--marine-blue);
        }
    }
}

@include a.breakpoint('md'){
    section{
        position: inherit;
        padding: 1rem;
        margin-top: 2rem;

        .button{
            &__back{
                font-family: ubuntu-bold;
                color: var(--cool-gray);
                background-color: transparent;
                border: none;
                font-size: .8rem;
                font-size: 1rem;
                position: relative;
                bottom: 0px;
                left: -63%;
            }
        }
    }
}

@include a.breakpoint('sm'){
    section{
        .button{
            &__back{
                left: -53%;
            }
        }
    }
}

