<div class="cards__addOn">
    <label [for]="addOn.name" [id]="addOn.title" [class]="'cards__addOn__item'" *ngFor="let addOn of addOns; let index = index" >
        <article class="cards__addOn__item__layout" (click)="selectAddOn(addOn, index)"></article>
        <div class="cards__addOn__item__left" >
            <input-checkbox [name]="addOn.name"></input-checkbox>
            <div class="cards__addOn__item__left__detail">
                <h3>{{addOn.title}}</h3>
                <p>{{addOn.detail}}</p>
            </div>
        </div>

        <ng-template [ngIf]="true" [ngIfElse]="addOnYear">
            <span class="cards__addOn__item__right">{{addOn.price | currency: 'USD' : 'symbol' : '1.0-0'}}/mo</span>
        </ng-template>

        <ng-template #addOnYear>
            <span class="cards__addOn__item__right">{{addOn.price * 10| currency: 'USD' : 'symbol' : '1.0-0'}}/yr</span>
        </ng-template>
    </label>
</div>
