<section>
    <main>
        <h1>Personal info</h1>
        <p class="subtitle">Please provide your name, email address, and phone number.</p>
    
        <article>
            <form [formGroup]="formData">
                <input-field
                    ngDefaultControl 
                    *ngFor="let input of inputs_field"
                    [control]="input.formControl"
                    [label]="input.label"
                    [type]="input.type"
                    [name]="input.name"
                    [id]="input.name"
                    [placeholder]="input.placeholder"
                    [required]="input.required"
                    [submitted]="submitted"
                ></input-field>
            </form>
        </article>
    </main>

    <footer>
        <footer-content 
            (validateData)="validate()"
        ></footer-content>
    </footer>
</section>