@use '../../../../../../scss/abstracts' as a;

section{
    @include a.layoutSection();

    main{
        background-color: white;
        width: 100%;   
        position: relative;

        .addOn__error{
            color: var(--strawberry-red);
            font-family: ubuntu-regular;
            position: absolute;
            top: 4.2rem;
            font-size: .8rem;
        }
    }
}

@include a.breakpoint('md'){
    section{
        padding-top: 0;

        main{
            @include a.card-content();

            p{
                margin-top: .3rem;
                line-height: 1.5rem;
            }
    
            .addOn__error{
                top: 7rem;
            }
        }
    }
}

@include a.breakpoint('sm'){
    section{
        main{
            .addOn__error{
                top: 8.5rem;
            }
        }
    }
}